<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="advanced"
            label="SCHUWEB_GALLERY_GENERAL">
        <field
                name="start_folder"
                type="text"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_START_FOLDER"
                description="SCHUWEB_GALLERY_START_FOLDER_DESC"
                default="images"/>
        <field
                name="size"
                type="text"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_THUMB_SIZE"
                description="SCHUWEB_GALLERY_THUMB_SIZE_DESC"
                default="300x200"/>
        <field
                name="resize_method"
                type="list"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_THUMB_RESIZE_METHOD"
                description="SCHUWEB_GALLERY_THUMB_RESIZE_METHOD_DESC"
                >
            <option value="1">SCHUWEB_GALLERY_SCALE_FILL</option>
            <option value="2">SCHUWEB_GALLERY_SCALE_INSIDE</option>
            <option value="3">SCHUWEB_GALLERY_SCALE_OUTSIDE</option>
            <option value="4">SCHUWEB_GALLERY_CROP</option>
            <option value="5">SCHUWEB_GALLERY_SCALE_INSIDE_CROP</option>
            <option value="6">SCHUWEB_GALLERY_SCALE_OUTSIDE_CROP</option>
        </field>
        <field
                name="spacer2"
                type="spacer"
                hr="true"/>
        <field
                name="folder_exclude"
                type="text"
                label="COM_SCHUWEB_GALLERY_FOLDER_EXCLUDE_LABEL"
                description="COM_SCHUWEB_GALLERY_FOLDER_EXCLUDE_DESC"/>
        <field
                name="image_exclude"
                type="text"
                label="COM_SCHUWEB_GALLERY_IMAGE_EXCLUDE_LABEL"
                description="COM_SCHUWEB_GALLERY_IMAGE_EXCLUDE_DESC"/>
    </fieldset>
    <fieldset
            name="layout"
            label="SCHUWEB_GALLERY_LAYOUT">
        <field
                name="bootstrap"
                type="radio"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_BOOTSTRAP_TEMPLATE"
                description="SCHUWEB_GALLERY_BOOTSTRAP_TEMPLATE_DESC"
                class="btn-group"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="spacer"
                type="spacer"
                hr="true"/>
        <field
                name="folder_grid_size"
                type="integer"
                first="0"
                last="12"
                step="1"
                default="3"
                label="COM_SCHUWEB_GALLERY_FOLDER_GRID_BOOTSTRAP_SIZE_LABEL"
                description="COM_SCHUWEB_GALLERY_FOLDER_GRID_BOOTSTRAP_SIZE_DESC"/>
        <field
                name="image_grid_size"
                type="integer"
                first="0"
                last="12"
                step="1"
                default="3"
                label="COM_SCHUWEB_GALLERY_IMAGE_GRID_BOOTSTRAP_SIZE_LABEL"
                description="COM_SCHUWEB_GALLERY_IMAGE_GRID_BOOTSTRAP_SIZE_DESC"/>
        <field
                name="spacer3"
                type="spacer"
                hr="true"/>
        <field
                name="prevButtonPosition"
                type="list"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_PREVBUTTON_VISIBLE"
                description="SCHUWEB_GALLERY_PREVBUTTON_VISIBLE_DESC"
                >
            <option value="-1">JHIDE</option>
            <option value="1">SCHUWEB_GALLERY_TOP</option>
            <option value="2">SCHUWEB_GALLERY_BOTTOM</option>
            <option value="3">SCHUWEB_GALLERY_BOTH</option>
        </field>
    </fieldset>
    <fieldset name="video">
        <field
                name="video_grid_size"
                type="integer"
                first="0"
                last="12"
                step="1"
                default="3"
                label="SCHUWEB_GALLERY_VIDEO_GRID_BOOTSTRAP_SIZE_LABEL"
                description="SCHUWEB_GALLERY_VIDEO_GRID_BOOTSTRAP_SIZE_DESC"/>
        <!--field
                name="video_width"
                type="text"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_VIDEO_WIDTH"
                default="300"/>
        <field
                name="video_height"
                type="text"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_VIDEO_HEIGHT"
                default="200"/-->
        <field name="videoName"
               type="radio"
               component="com_schuweb_gallery"
               section="component"
               label="SCHUWEB_GALLERY_VIDEO_NAME"
               class="btn-group"
               default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC">

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                filter="rules"
                validate="rules"
                component="com_schuweb_gallery"
                section="component"/>
    </fieldset>
</config>
