<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="advanced"
            label="SCHUWEB_GALLERY_GENERAL"
            description="SCHUWEB_GALLERY_GENERAL_DESC">
        <field
                name="start_folder"
                type="text"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_START_FOLDER"
                description="SCHUWEB_GALLERY_START_FOLDER_DESC"
                default="images"/>
        <field
                name="size"
                type="text"
                component="com_schuweb_gallery"
                section="component"
                label="SCHUWEB_GALLERY_THUMB_SIZE"
                description="SCHUWEB_GALLERY_THUMB_SIZE_DESC"
                default="300x200"/>
        <field
                name="spacer"
                type="spacer"
                hr="true"/>
        <field
                name="folder_grid_size"
                type="integer"
                first="0"
                last="12"
                step="1"
                default="3"
                label="COM_SCHUWEB_GALLERY_FOLDER_GRID_BOOTSTRAP_SIZE_LABEL"
                description="COM_SCHUWEB_GALLERY_FOLDER_GRID_BOOTSTRAP_SIZE_DESC"/>
        <field
                name="image_grid_size"
                type="integer"
                first="0"
                last="12"
                step="1"
                default="3"
                label="COM_SCHUWEB_GALLERY_IMAGE_GRID_BOOTSTRAP_SIZE_LABEL"
                description="COM_SCHUWEB_GALLERY_IMAGE_GRID_BOOTSTRAP_SIZE_DESC"/>
        <field
                name="spacer2"
                type="spacer"
                hr="true"/>
        <field
                name="folder_exclude"
                type="text"
                label="COM_SCHUWEB_GALLERY_FOLDER_EXCLUDE_LABEL"
                description="COM_SCHUWEB_GALLERY_FOLDER_EXCLUDE_DESC"/>
        <field
                name="image_exclude"
                type="text"
                label="COM_SCHUWEB_GALLERY_IMAGE_EXCLUDE_LABEL"
                description="COM_SCHUWEB_GALLERY_IMAGE_EXCLUDE_DESC"/>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC">

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                filter="rules"
                validate="rules"
                component="com_schuweb_gallery"
                section="component"/>
    </fieldset>
</config>
